/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My css */




/* fix short sizes */
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 2em;
}



nav ul a{
    text-decoration: none;
    color: black;
    padding: 2vw;
}

nav ul a:hover{
    background-color: aqua;
    
}

#roleImg img{
    height: auto;
    width: 30vw;
    min-width: 300px;
}
.rowContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px;
    padding: 10px;
}

#testingSection-1 {
    height: 800px;
    background-color: aquamarine;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    align-content: space-between;
    
}

.divs{
    width: 200px;
    height: 200px;
}
#div1{
    background-color: violet;
}
#div2{
    background-color: rgb(26, 18, 128);
}
#div3{
    background-color: rgb(31, 207, 15);
}

#testingSection-2 {
    height: 800px;
    background-color: rgb(164, 216, 151);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    
}
