/* reset css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* My css */

body{
    --main-font: 'Poppins', sans-serif;
    --main-color-dark: rgb(100, 166, 189);
    --main-color: rgb(144, 168, 195);
    --secondary-color-dark: rgb(173, 167, 201);
    --secondary-color: rgb(215, 185, 213);
    --secondary-color-light: rgb(244, 202, 224);
    --text-color: black;
    background-color: var(--secondary-color-light);
    font-family: var(--main-font);
    font-size: 18px;
 

}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    
}
nav ul a{
    text-decoration: none;
    color: black;
    padding: 2vw;
    display: flex;
}
nav ul a:hover{
    background-color: var(--main-color-dark);
    
}

.hamburger{
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    border: 1px black solid;
    transition: all .3s ;
    cursor: pointer;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    outline: none;

}

.hamburger:hover{
    filter: brightness(110%);
    transform: scale(1.1);
    transition: all .3s ;
    
}
#hamburgerSVG{
    width: 40px;
    height: 40px;
    color: aliceblue;
    filter: invert(1) sepia(0) saturate(0) hue-rotate(0deg);
    
}
#closeSVG{
    width: 20px;
    height: 20px;
}

.collapsible{
    display: none;
}


.rowContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 5px;
    padding: 10px;
}
#rolesMarius{
    background-color: var(--main-color);
    padding: 5px;
    transform: translate3d(-50%, 0px, 0px);
    transition: 0.6s;
}
#roleImg img{
    height: auto;
    width: 30vw;
    border-radius: 5%;
    margin-bottom: 20px;
}
#introText{
    margin-top: 20px;
}

.rowContainer{
    display: flex;
    flex-direction: column;
    margin: 40px;
}

.projectCard{
    display: flex;
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    margin-top: 20px;
    padding: 40px;
    width: 100%;
    
}

.projectText{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 10px;

}
 .projectCardTitle{
    font-weight: 800;
    font-size: 30px;
    font-style: italic;
 }
 .projectDescription{
    line-height: 20px;
 }
 
 .imageContainer{
    background-color: cornsilk;
    border-radius: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    max-height: auto;
    
   
}
.projectImg{
   height: auto;
   max-width: 90%;
}


 .projectButton{
    padding: 10px;
    font-size: 1.5rem;
    background-color: var(--main-color-dark);
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0.3rem rgba(121, 121, 121, 0.70);
    margin-top: 10%;
    margin-left: 10%;
    transition: all .3s ;
    flex-grow: 0;
    align-self: flex-start;
 }

 /* check this */
 .projectButton:hover{
     filter: brightness(110%);
     transform: scale(1.1);
     transition: all .3s ;
 }

 .projectButton:active{
     transform: translate(0,0.3rem);
     box-shadow: 0 0.1rem rgba(121, 121, 121, 0.70)
 }

/* media queries */
@media only screen and (max-width: 600px){

}

@media only screen and (max-width: 600px){
 .imageContainer{
     min-width: 300px;
 }

 .projectText{
     width: 300px;
     margin: 15px;
 }
 .projectCard{
     padding: 10px;
 }
 .projectButton{
     align-self: center;
     margin: 0;
 }
 .hamburger{
    display: flex;
    align-items: center;
    justify-content: center;
}
#nav-id{
    display: none;
}
}

@media only screen and (max-width: 1100px){
    #roleImg img{
        width: 300px;
    }
    
}